
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.add-item-card
{
	padding: 1em;
    text-align: center;
    opacity: .75;
    transition: 250ms ease-in-out;
}

.add-item-card:hover
{
	opacity: 1;
}

.icon-large
{
	font-size: 10em;
}